@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap'); 

/* Reset de propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: gray;
}
/* configurações gerais */

.container-grid {
    width: 80%;
    margin: 0 auto;
}

/* Cabeçalho*/

header {
    background-color: gray;
}
.header-flex {
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: white;
    font-weight: 300;
}

#logoux {
    font-weight: 600;
    font-style: italic;
}

header nav a {
    color: white;
    text-decoration: none;
}