@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap'); 

/* Reset de propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* configurações gerais */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(211, 211, 211);
}
.container-grid {
    width: 90%;
    margin: 0 auto;
}

/* Cabeçalho*/

header {
    background-color: #808080;
}
.header-flex {
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: white;
    font-weight: 300;
}

#logoux {
    font-weight: 600;
    font-style: italic;
}

header nav a {
    color: white;
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

/* corpo principal */
.main-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 530px;
}

section{
    width: 75%;
    background-color: white;
    color: gray;
}
img{
    width: 100%;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    width: 23%;
}

p, h2{
    margin: 10px;
}

article{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: max-content;
    padding: 10px;
    align-items: center;
    color: gray;
}
input{
    border-color: rgb(211, 211, 211);
    border-style: solid;
}
#pesquisa-flex{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#pesquisa{
    height: 25px;
    width: 185px;
}
ul{
    padding-left: 30px;
}
#p3{
    text-align: center;
}
button{
    width: 40px;
    height: 25px;
    background-color: #808080;
    border-color: transparent;
}

#email{
    height: 25px;
}
.article-h3{
    height: 2px;
    width: 110%;
    margin: 10px;
    background-color: rgb(211, 211, 211);
}

/* Parte do rodapé */

footer {
    background-color: #808080;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0%;
}

footer div p {
    color: white;
}